<!DOCTYPE html>
<html>
	<head>
		<title>YelpCamp</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
		<script type='text/javascript' scr='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.0/moment.min.js'></script>
		<script src="https://kit.fontawesome.com/a79e82e679.js" crossorigin="anonymous"></script>
		<script type="text/javascript" src="/scripts/lib/jquery.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
  			<a class="navbar-brand" href="/campgrounds">YelpCamp</a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  			</button>

  			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<% if(!currentUser) { %>
						<li class="nav-item active"><a class="nav-link text-dark" href="/login">Login</a></li>
						<li class="nav-item"> <a class="nav-link text-dark" href="/register">Sign up</a></li>
					<% } else if(currentUser.isAdmin === true) { %>
							<li class="nav-item active"><a class="nav-link text-dark" href="/users/<%= currentUser._id %>">Signed in as <span id="user-name-link"><%= currentUser.username %></span></a></li>
							<li class="nav-item active"><a class="nav-link text-dark" href="/logout">Logout</a></li>
							<li class="nav-item active"><a class="nav-link text-dark" href="/users">Manage Users</a></li>
					<% } else { %>
						<li class="nav-item active"><a class="nav-link text-dark" href="/users/<%= currentUser._id %>">Signed in as <span id="user-name-link"><%= currentUser.username %></span></a></li>
						<li class="nav-item active"><a class="nav-link text-dark" href="/logout">Logout</a></li>
					<% } %>
					<li class="nav-item active"><a class="nav-link text-dark" href="/leavenotrace">Leave no trace</a></li>
				</ul>
				<form class="form-inline my-2 my-lg-0" action="/campgrounds" method="GET">
					<input class=" nav-item active form-control mr-sm-2" type="text" name="search" placeholder="Campground search...">
					<input class=" nav-item btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
				</form>
			</div>
		</nav>
		<div class="container">
			<% if(error && error.length > 0) { %>
				<div class="alert alert-danger" role="alert">
					<%= error %>
				</div>
			<% } %>
			<% if(success && success.length > 0) { %>
				<div class="alert alert-success" role="alert">
					<%= success %>
				</div>
			<% } %>
		</div>
