<%- include('../partials/headerFormPage') %>
	<div class='container'>
		<div class="row form-page">
			<div class="col-md-2 col-lg-3"></div>
			<div class="col-md-8 col-lg-6">
				<h2>Edit comment</h2>
				<form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
					<div class="form-group">
						<!-- <label for="exampleInputPassword1">Password</label> -->
						<input name='comment[text]' type="text" class="form-control" value="<%= comment.text %>">
					</div>
					<button type="submit" class="btn btn-block btn-primary">Submit</button>
				</form>
				<div class="go-back">
					<a href="/campgrounds/<%= campground_id %>">Go back</a>
				</div>
			</div>
			<div class="col-md-2 col-lg-3"></div>
		</div>
	</div>

<%- include('../partials/footer') %>
