<%- include('../partials/header') %>
<section class="container show">
	<div class="row show-page">
		<div class="col-lg-3 order-2 order-lg-1">
			<h4 class="lead"><%= campground.name %></h4>
			<div class="card shadow-sm">
			  <div class="card-header">Time to go</div>
			  <ul class="list-group list-group-flush">
			    <li class="list-group-item"><i class="fas fa-calendar-check"></i> <%= campground.highSeasonStart %> - <%= campground.highSeasonEnd %></li>
		  	</ul>
			</div>
			<div class="card shadow-sm show-page-info">
			  <div class="card-header">Amenities</div>
				<ul class="list-group list-group-flush">
				 <% campground.amenities.forEach(function(amenity) { %>
						 <li class="list-group-item"><%= amenity %></li>
				 <% }); %>
				 </ul>
			</div>
			<div class="card shadow-sm show-page-info">
				<div class="card-header">Website</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><i class="fas fa-wifi"></i> <a target="_blank" href="http://<%=campground.website%>">Click here</a></li>
				</ul>
			</div>
			<div id="map" class="shadow"></div>
		</div>
		<div class="col-lg-9 order-1 order-lg-2">
			<div class="card shadow-sm" id="show_top">
				<img id="card-img-top" class="img-fluid" alt="imt-responsive" src='<%= campground.image %>'>
			</div>
			<div class="card-body">
				<h4 class="float-right"><span id="starting_at">starting at</span> $<%= campground.price %>/night</h4>
				<h4 class="card-title">
					<a><%= campground.name %></a>
				</h4>
				<hr>
				<p class="float-right"><em><%= moment(campground.createdAt).fromNow() %></em></p>
				<p><em>Submitted by <a href="/users/<%= campground.author.id %>"><%= campground.author.username %></a></em></p>
				<p><%- campground.description %></p>
				<% if((currentUser && campground.author.id.equals(currentUser._id)) || (currentUser && currentUser.isAdmin === true)){ %>
					<a class="btn btn-warning btn-sm" href="/campgrounds/<%=campground._id%>/edit">Edit campground</a>
					<form id="delete" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
						<button class="btn btn-danger btn-sm">Delete campground</button>
					</form>
				<% } %>
			</div>
		</div>
	</div>
</section>

<section class="container">
	<div class="row">
		<div class=col-lg-3></div>
		<div class=col-lg-9>
			<div class="card shadow-sm">
				<div class="card-header">
					<div class="container">
						<div id="comment-row" class="d-flex flex-row-reverse bd-highlight mb-3">
							<div id="comment-button" class="bd-highlight">
								<button id="click-to-open" class="btn btn-success">New comment</button>
							</div>
						</div>
						<div class="row show-onclick">
							<div class="col-lg-12">
								<form action="/campgrounds/<%= campground._id %>/comments" method="POST">
									<div class="form-group">
										<!-- <label for="comment[text]">Comment</label> -->
										<textarea name='comment[text]' type="text" class="form-control" placeholder="Press enter to submit..."></textarea>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body">
					<ul class="list-group list-group-flush">
						<% campground.comments.forEach(function(comment) { %>
							<li class="list-group-item">
								<div class="col-md-12">
									<i class="fas fa-user"></i>  <a href="/users/<%= comment.author.id %>"><%= comment.author.username %></a>

									<span class="float-right"><%= moment(comment.createdAt).fromNow() %></span>
									<p>
										<%- comment.text %>
									</p>
									<% if(currentUser && comment.author.id.equals(currentUser._id) || (currentUser && currentUser.isAdmin === true)){ %>
										<a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
											Edit
										</a>
										<form id="delete" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
											<button class="btn btn-sm btn-danger">Delete</button>
										</form>
									<% } %>
								</div>
							</li>
						<% }); %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
  	function initMap(){
		var lat = <%= campground.lat %>;
		var lng = <%= campground.lng %>;
		var center = {lat: lat, lng: lng };
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 8,
			center: center,
			scrollwheel: false
		});
		var contentString = `
		  <strong><%= campground.name %><br />
		  <%= campground.location %></strong>
		  <p><%= campground.description %></p>
		`
		var infowindow = new google.maps.InfoWindow({
			content: contentString
		});
		var marker = new google.maps.Marker({
			position: center,
			map: map
		});
		marker.addListener('click', function() {
			infowindow.open(map, marker);
		});
  	}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyOqjxqqjcHjePMbUXOUKpJOcCuyQNz8E&callback=initMap"></script>
<script type="text/javascript" src="/scripts/scripts.js"></script>
<%- include('../partials/footer') %>
