<%- include('../partials/headerFormPage') %>
<div class="container profile-page">
	<div class="row">
		<div class="col-md-3">
			<img class="img-thumbnail" src="<%= user.image %>">
		</div>
		<div class="col-md-9">
			<h1 class="profile-title">Hi, I'm	<%= user.firstName + " " + user.lastName %></h1>
			<div>
				<div class="profile-line">Joined <%= moment(user.createdAt).fromNow() %></div>
				<% if((currentUser && user.equals(currentUser._id)) || (currentUser && currentUser.isAdmin === true)){ %>
					<a class="btn btn-primary btn-sm" href="/users/<%= user._id %>/edit">Edit info</a>
				<% } %>
			</div>
			<p><i class="fas fa-home"></i> <%= user.homeTown %></p>
			<i class="fas fa-quote-left"></i>
			<div id="bio-body"><%- user.bio %></div>
			<hr id="bio-line">
			<h4>Campgrounds</h4>
			<ul class="list-group	">
				<% campgrounds.forEach(function(campground){ %>
					<li class="list-group-item">
						<div class='card shadow'>
							<div class="card-header">
								<a href="/campgrounds/<% campground.id %>"><%= campground.name %></a>
							</div>
							<div class="container">
								<div class="row user-campground-list">
									<div class="col-md-3 thumbnail">
										<img class="img-responsive fit-image" src='<%= campground.image %>' alt='<%= campground.name %>'>
									</div>
									<div class="col-md 10">
										<p><%=campground.description.substring(0, 80)%></p>
										<p><em>Submitted <%= moment(campground.createdAt).startOf('day').fromNow() %></em></p>
									</div>
								</div>
							</div>
						</div>
					</li>
				<% }) %>
			</ul>
		</div>
	</div>
</div>


<%- include('../partials/footer') %>
